extends layout

block content
  h1= title
  p Unofficial HackerNews API, written in node
  
  p
    a(href='/links') Front page links as JSON
  
  p
    a(href='/links/news2') Second page links as JSON
  
  p
    a(href='/links/newest') Newest page links as JSON

  p
    a(href='/links/ask') Ask links as JSON